<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Home Page</h1>
    <div><%= link_to "Добавить предложение", new_user_offer_path, class: "btn btn-lg btn-primary" %></div>
    <br/>
    <div><%= link_to "Добавить потребность", new_user_demand_path, class: "btn btn-lg btn-primary" %></div>
    <br/>    
    <div><%= link_to "new_offer_path", new_offer_path, class: "btn btn-lg" %></div> 
    <br/>
    <div><%= link_to "Все предложения", offers_path, class: "btn btn-lg" %></div>
    <br/>      
    <div><%= link_to "new_demand_path", new_demand_path, class: "btn btn-lg" %></div>
    <br/>
    <div><%= link_to "Все потребности", demands_path, class: "btn btn-lg" %></div>
    <br/>      
  </div>
</div>
</div>
