<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("_slider1.jpg") %>
      <div class="carousel-caption">
        Луганск
      </div>
    </div>
    <div class="item">
      <%= image_tag("_slider2.jpg") %>
      <div class="carousel-caption">
        Луганск
      </div>
    </div>
    <div class="item">
      <%= image_tag("_slider3.jpg") %>
      <div class="carousel-caption">
        Донецк
      </div>
    </div>
    <div class="item">
      <%= image_tag("_slider4.jpg") %>
      <div class="carousel-caption">
        Донецк
      </div>
    </div>
    <div class="item">
      <%= image_tag("_slider5.jpg") %>
      <div class="carousel-caption">
        Донецк
      </div>
    </div>
    <div class="item">
      <%= image_tag("_slider6.jpg") %>
      <div class="carousel-caption">
        Донецк
      </div>
    </div>                
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
</div>
</div>

<div class="container demand-cont">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Потребности</h1>
      <div><%= link_to "Добавить потребность", new_user_demand_path, class: "btn btn-lg btn-primary" %></div>
      <br/>    
      <div><%= link_to "Все потребности", demands_path, class: "btn btn-lg" %></div>
      <br/>      
    </div>
  </div>  
  <div class="row">
    <% var = 0 %>
    <% demand_temp = nil %>
    <% @demands.each do |demand| %>
      <% if var % 2 == 0 %>
        <% demand_temp = demand %>
      <% end %> 
      <% if var %2 ==1 %>
        <div class="row">
          <div class="col-md-4 col-md-offset-2"> 
            <p><%= link_to(image_tag(demand_temp.image.url(:medium)), demand_path(demand_temp)) %></p>        
            <p><%= link_to var, demand_path(demand_temp) %></p>
            <p><%= demand_temp.adult %></p>
            <p><%= demand_temp.children %></p>
            <p><%= demand_temp.duration %> </p>
            <p><%= demand_temp.description %></p>
            <p><%= demand_temp.user.email if !demand_temp.user.nil?%></p>           
          </div>    
          <div class="col-md-4"> 
            <p><%= link_to(image_tag(demand.image.url(:medium)), demand_path(demand)) %></p>        
            <p><%= link_to var, demand_path(demand) %></p>
            <p><%= demand.adult %></p>
            <p><%= demand.children %></p>
            <p><%= demand.duration %> </p>
            <p><%= demand.description %></p>
            <p><%= demand.user.email if !demand.user.nil?%></p>           
          </div>                
        </div>
      <% end %>
      <% var += 1 %>
    <% end %>
  </div>
</div>

<div class="container offer-cont">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Предложения</h1>
      <div><%= link_to "Добавить предложение", new_user_offer_path, class: "btn btn-lg btn-primary" %></div>
      <br/>
      <div><%= link_to "Все предложения", offers_path, class: "btn btn-lg" %></div>
      <br/>      
      <!--div><%= link_to "new_demand_path", new_demand_path, class: "btn btn-lg" %></div-->
      <br/>     
    </div>
  </div>
  <div class="row">
    <% var = 0 %>
    <% offer_temp = nil %>
    <% @offers.each do |offer| %>
      <% if var % 2 == 0 %>
        <% offer_temp = offer %>
      <% end %> 
      <% if var %2 ==1 %>
        <div class="row">
          <div class="col-md-4 col-md-offset-2"> 
            <p><%= link_to(image_tag(offer_temp.image.url(:medium)), offer_path(offer_temp)) %></p>        
            <p><%= link_to var, offer_path(offer_temp) %></p>
            <p><%= offer_temp.city %></p>
            <p><%= offer_temp.duration %></p>
            <p><%= offer_temp.description %> </p>
            <p><%= offer_temp.user.email if !offer_temp.user.nil?%></p>           
          </div>    
          <div class="col-md-4"> 
            <p><%= link_to(image_tag(offer.image.url(:medium)), offer_path(offer)) %></p>        
            <p><%= link_to var, offer_path(offer) %></p>
            <p><%= offer.city %></p>
            <p><%= offer.duration %></p>
            <p><%= offer.description %> </p>
            <p><%= offer.user.email if !offer.user.nil?%></p>          
          </div>                
        </div>
      <% end %>
      <% var += 1 %>
    <% end %>
  </div>  
</div>