<div>
  <div class="form-group"><%= f.label :adult, "Взрослых" %><br/><%= f.text_field :adult, class: "form-control" %></div>
  <div class="form-group"><%= f.label :children, "Детей" %><br/><%= f.text_field :children, class: "form-control" %></div>
  <div class="form-group"><%= f.label :duration, "Продолжительность" %><br/><%= f.text_field :duration, class: "form-control" %></div>
  <div class="form-group"><%= f.label :description, "Описание" %><br/><%= f.text_field :description, class: "form-control" %></div>  
  <div class="form-group">
    <%= f.file_field :image %>
  </div>  
  <br/>      
</div>