<div>
  <div><%= f.label :adult, "Взрослых" %><br/><%= f.text_field :adult %></div>
  <div><%= f.label :children, "Детей" %><br/><%= f.text_field :children %></div>
  <div><%= f.label :duretion, "Продолжительность" %><br/><%= f.text_field :duration %></div>
  <div><%= f.label :description, "Описание" %><br/><%= f.text_field :description %></div>  
  <br/>      
</div>