<div>
  <div><%= f.label :city, "Offer city" %><br/><%= f.text_field :city %></div>
  <div><%= f.label :duration, "Duration" %><br/><%= f.text_field :duration %></div>
  <div><%= f.label :description, "Description" %><br/><%= f.text_field :description %></div>     
  <div><br/><%= f.file_field :image %></div>
  <br/>   
</div>