<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Новая потребность</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group"><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

        <div class="form-group"><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div> 
        <h3>Информация о потребности</h3> 
        <%= f.fields_for :demands do |builder| %>
            <%= render 'demand_fields', :f => builder %>
        <% end %>      
        <div class="form-group"><%= f.submit "Добавить потребность", class: "btn btn-large btn-primary" %></div>   

      <% end %>
      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
