<% provide(:title, "show offer") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Show Demand</h1>
   <%= form_for(@demand) do |f| %>
    <div class="form-group">
      <%= f.label :adult %><%= f.text_field :adult, class: "form-control", disabled: true %>
    </div>
    <div class="form-group">
      <%= f.label :children %><%= f.text_field :children, class: "form-control", disabled: true %>
    </div>    
    <div class="form-group">
      <%= f.label :duration %><%= f.text_field :duration, class: "form-control", disabled: true %>
    </div>
    <div class="form-group">
      <%= f.label :description %><%= f.text_field :description, class: "form-control", disabled: true %>
    </div>
    <div class="form-group">
      <%= image_tag @demand.image.url(:medium) %>
    </div>
    <%= link_to "К списку", demands_path, class: "btn btn-large btn-secondary" %>
  <% end %> 
  </div>
</div>